[Desktop Entry]
Version=1.0
Name=Coin4Trade
Comment= C4T P2P Cryptocurrency
Comment[fr]= C4T, monnaie virtuelle cryptographique pair à pair
Comment[tr]= C4T, eşten eşe kriptografik sanal para birimi
Exec=coin4trade-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Coin4Trade-qt
